{% extends 'registration/base.html' %}

{% block title  %} Register Complete {% endblock %}

{% block body %}
    <div id="spacer15"></div>
    <div id="two-panel">
        <div id="left">
            <div class="title"><span>what</span>is<span>semillastan</span>?</div>
            <div class="logo"><img src="{{MEDIA_URL}}images/logo.png" /></div>
            <div class="about">SemillaStan.com is Stanley Semilla's Official Website.</div>
            <div class="more-about">Everything you need to know about him is posted here.</div>
        </div>
        <div id="right">
            Registration Complete!
        </div>
    </div>
    <div id="clear-both"></div>
{% endblock %}
