{% extends 'base_no_header.html' %}

{% block title  %} Forgot Password {% endblock %}

{% block extra_head %}
    <link href="{{MEDIA_URL}}css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div id="spacer2"></div>
    <div id="login-box">
        <span class="title">Reset Password</span>
        <form id='login-form' class='login' action="{% url forgot_password %}" method="post"> {% csrf_token %}
            {% if error %}
                <div id="non-field-errors">{{ error }}</div>
            {% endif %}
            <div id="fieldWrapper">
                <span class='label'>Email Address:</span>
                {% if email_error %}<span class="errors">{{ email_error }}</span>{% endif %}
                <input type="text" name="email" />
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <div id="spacer5"></div>
            <div id="login-help">
                <span class='link'>Already a member? <a href="{% url auth_login %}">Login here.</a></span>
                <span class='link'>Not a member yet? <a href="{% url registration_register %}">Sign up here.</a></span>
                <div id="clear-both"></div>
            </div>
            <input type="submit" value="Submit" />
        </form>
        <div id="clear-both"></div>
    </div>
    
{% endblock %}
