<div id="metro-home">
    <div id="box" class="blue">
        <div id="link">
            <img src="{{MEDIA_URL}}images/icons/home.png" /> <br />
            <span>Home</span>
        </div>
    </div>
    <div id="box" class="blue">
        <div id="link">
            <img src="{{MEDIA_URL}}images/icons/about.png" /> <br />
            <span>About</span>
        </div>
    </div>
    <div id="box" class="blue">
        <div id="link">
            <img src="{{MEDIA_URL}}images/icons/phone.png" /> <br />
            <span>Contact</span>
        </div>
    </div>
    <div id="box" class="white">
        <a href="https://plus.google.com/u/0/109411802420508189079"><div id="inbox" style="margin-right: 4px; margin-bottom: 4px;">
            <img src="{{MEDIA_URL}}images/icons/plus.png" /> <br />
            <span>Google</span>
        </div></a>
        <a href="http://www.twitter.com/semillastan"><div id="inbox" style="margin-bottom: 4px;">
            <img src="{{MEDIA_URL}}images/icons/twitter.png" /> <br />
            <span>Twitter</span>
        </div></a>
        <a href="http://www.facebook.com/semillastan"><div id="inbox" style="margin-right: 4px;">
            <img src="{{MEDIA_URL}}images/icons/facebook.png" /> <br />
            <span>Facebook</span>
        </div></a>
        <a href="http://www.twitter.com/semillastan"><div id="inbox">
            <img src="{{MEDIA_URL}}images/icons/yahoo.png" /> <br />
            <span>Yahoo</span>
        </div></a>
    </div>
    <div id="box" class="blue">
        <div id="link">
            <img src="{{MEDIA_URL}}images/icons/login.png" /> <br />
            <span>Login</span>
        </div>
    </div>
    <div id="box" class="blue">
        <div id="link">
            <img src="{{MEDIA_URL}}images/icons/signup.png" /> <br />
            <span>Signup</span>
        </div>
    </div>
    <div id="clear-both"></div>
</div>
